body{
	margin: 0;
	padding: 0;

}
ul.all-ul{
	margin: 0;
	padding: 0;
}
.custom-header {
    position: relative;
    z-index: 2;
}

.custom-header .navbar {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    margin-top: 25px;
    background: transparent;
}

.custom-header .custom-logo {
    color: #ffffff;
    font-size: 32px;
}

.custom-header .custom-logo:hover {
    color: #1bafb4;
}

.custom-header .custom-menu li a {
    color: #ffffff;
    text-transform: uppercase;
}

.custom-header .custom-menu li a:hover {
    color: #1bafb4;
}


/*Slider Section CSS Start Here*/


.slider-section .custom-carousel-caption {
    top: 30%;
}

.slider-section .custom-carousel-caption span, 
.slider-section .custom-carousel-caption h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.slider-section .custom-carousel-caption h3 {
    font-size: 50px;
}

.slider-section .custom-carousel-caption p{
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 10px 0 20px;
}
.slider-section .custom-carousel-caption .custom-take-action{
    border-radius: 0px;
    padding: 14px 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
	border: 2px solid #5bc0de;
}
.slider-section .custom-carousel-caption .custom-take-action:hover{
	background: #ffffff;
	color: #5bc0de;
}

/*Slider Section CSS End Here*/





/*WHY YOU CHOOSE US SECTION CSS START HERE*/
.why-chose-us{
	background: #ECF0F1;
	padding-bottom: 20px;
}
.why-chose-us .chose-us-text{
	color: #131313;
}
.why-chose-us .inner{
	margin-bottom: 40px;
}
.why-chose-us .inner i{
	color: #4a454b;
    transition: all .3s ease;
}
.why-chose-us .inner a{
	display: block;
	color: #4a454b;
	text-decoration: none;
	font-size: 20px;
	margin: 18px 0px 12px 0px;
	font-weight: bold;
    transition: all .3s ease;
    text-transform: uppercase;
}
.why-chose-us .inner p{
	color: #4a454b;
	font-size: 16px;
	font-weight: 600;
}
.why-chose-us .inner:hover i{
	color: #53C5D5;
}
.why-chose-us .inner:hover a{
	color: #53C5D5;
}
/*WHY YOU CHOOSE US SECTION CSS END HERE*/



/*OUR SERVICE CSS START HERE*/

.service-section {
	background: url(../images/service-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.service-section .inner-div{
    background: rgba(0, 0, 0, 0.6);
	padding: 0;
	margin: 0;
	height: 100%;
	padding-bottom: 60px;
}
.service-headind{
	color: #5bc0de;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 28px;
	padding: 60px 0 15px 0;
	margin-top: 0px;
}
.service-text{
	font-weight: 400;
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 55px;
}
.service-section .service-single .inner-div{
	border: 2px solid #ffffff;
    padding: 50px 0px 30px 0px;
    background: rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}
.service-section .service-single .inner-div>span{
    border: 2px solid #ffffff;
    width: 90px;
    display: inline-block;
    transform: rotate(45deg);
    height: 90px;
    transition: all .3s ease;
}
.service-section .service-single .inner-div>span>i{
    color: #ffffff;
    transform: rotate(-45deg);
    display: inline-block;
    padding: 20px;
    transition: all .3s ease;
}
.service-section .service-single .inner-div h3{
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 1px;
	margin-top: 35px;
    margin-bottom: 0px;
}
.service-section .service-single .inner-div h3 a{
	text-decoration: none;
	color: #ffffff;
}
.service-section .service-single .inner-div:hover{
	background: #53C5D5;
	border-color: #53C5D5;
}
.service-section .service-single .inner-div:hover span{
	background: #ffffff;
}
.service-section .service-single .inner-div:hover span>i{
	color: #53C5D5;
}
/*OUR SERVICE CSS END HERE*/

/*TABLE SECTION START*/
.custom-pricing{
	background: #FFFFFF;
	padding-bottom: 60px;
}
.pricing-text{
	color: #131313;
}
.custom-pricing .inner{
	border: 1px solid #dadadc;
	padding-bottom: 30px;
}
.custom-pricing .inner .header{
	background: #ECF0F1;
	padding: 35px 0 68px 0;
}
.custom-pricing .inner .header h3{
	margin-top: 0px;
	color: #000000;
	font-weight: bold;
	font-size: 28px;
	transition: all .25s ease;
}
.custom-pricing .inner .header p{
	color: #000000;
	font-weight: normal;
	transition: all .25s ease;
}
.custom-pricing .inner .currency-price-time{
    border: 2px solid #dadadc;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin-top: -48px;
    transition: all .25s ease;
}
.custom-pricing .inner .currency-price-time span:nth-child(1){
	font-size: 28px;
}
.custom-pricing .inner .currency-price-time span:nth-child(2){
	font-size: 20px;
}
.custom-pricing .inner .currency-price-time span:nth-child(3){
	font-size: 16px;
	display: block;
}
.custom-pricing .inner ul{
	padding-left: 0px !important;
	margin: 25px 35px;
}
.custom-pricing .inner ul li{
    list-style: none;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid #ecf0f1;
    font-size: 16px;
    padding: 8px 0px;
}
.custom-pricing .inner ul li:last-child{
	border-bottom: none;
}
.custom-pricing .inner a{
    background: #ecf0f1;
    border: 1px solid #ecf0f1;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    padding: 12px 35px;
    color: #000000;
    margin: 0 0 10px 0 !important;
    display: inline-block;
    transition: all .25s ease;
}
.custom-pricing .inner a:hover{
    background: #53C5D5;
    color: #ffffff;
}
.custom-pricing .inner:hover .currency-price-time{
	background: #53C5D5;
	border-color: #53C5D5;
}
.custom-pricing .inner:hover .header h3, .custom-pricing .inner:hover .header p{
	color: #53C5D5;
}
/*TABLE SECTION CSS END*/




/*FOOTER SECTION CSS START HERE*/
.custom-footer{
	padding-top: 60px;
	padding-bottom: 50px;
	background: #17222c;
}
.custom-footer .footer-logo img{
	padding-left: 0px;
}
 .custom-footer .footer-logo p{
	padding-left: 11px;
    padding-top: 25px;
    font-size: 15px;
    line-height: 26px;
    color: #fff;
    text-align: left;
}

.custom-footer .footer-header h3{
	padding: 0;
	padding-bottom: 25px;
	color: #ffffff;
	text-align: left;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
}
.custom-footer .footer-header .footer-menu ul{
	padding: 0px;
}
.custom-footer .footer-header .footer-menu ul li{
	list-style: none;
	text-align: left;
	color: #ffffff;
	font-weight: 400;
	font-size: 15;
	margin: 9px 0;
}
.custom-footer .footer-header .footer-menu ul li a{
	color: #ffffff;
    margin-left: 7px;
    font-size: 16px;
    text-decoration: none;
}
.custom-footer .footer-header .footer-menu ul li:hover,
.custom-footer .footer-header .footer-menu ul li a:hover{
	color: #24CAE2;
}
.footer-header .icon-wrpper ul li{
	list-style: none;
}
.footer-header .icon-wrpper{
	position: relative;
	display: inline-block;
	float: left;
	font-size: 20px;
	float: left;
	top: 0;
	left: 0;
	color: #24CAE2;
}
.footer-header .icon-wrpper i{
		float: left;
}
.footer-header .icon-wrpper .warpper-pbar p{
	margin-top: -22px;
	text-align: left;
	display: table-cell;
	font-size: 16px;
	font-weight: 400;
	float: left;
	color: #ffffff;
	padding-left: 35px;
	line-height:28px;
}
.footer-header .icon-wrpper .warpper-pbar a{
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;

}

.footer-header .icon-wrpper .warpper-pbar a:hover{
	color: #24CAE2;
}
.footer-header .footer-last-pbar{
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #ffffff;
}
/*footer form*/
.form-area{
	margin: 0;
	padding: 0;
	margin-top: 15px !important;
}
.form-area .input-box input[type="text"] {
	box-shadow: none;
    background: 0px;
    border-radius: 0;
    color: #ffffff;
    border: 1px solid #24CAE2;
    padding: 6px 10px;
}
.input-box{
	display: inline-block;
	width: 80%;
}
.Btn-Submit{
    background: #24CAE2;
    box-shadow: none;
    border:1px solid #24CAE2;
}
 button {
    border-radius: 0px !important;
    box-shadow: none;
}
.Btn-Submit:hover{
	background: #24CAE2;
	border:1px solid #24CAE2;;
}
.input-box ::-webkit-input-placeholder{
	color: #ffffff;
}
.input-box ::-moz-placeholder{
	color: #ffffff;
}
.input-box input[type="text"]:-ms-placeholder{
	color: #ffffff;
}
.input-box input[type="text"]:-moz-placeholder{
	color: #ffffff;
}
.custom-footer-buttom{
	padding-top: 30px;
	padding-bottom: 25px;
	background: #17222C;
	border-top: 1px solid #22282d;
}
.copyright p{
	color: #98a9bb;
	font-weight: 400;
	font-size: 13px;
}
.copyright a{
	color: #ffffff !important;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.copyright .copyright-carated:hover{
	color: #24CAE2 !important;
	text-decoration: underline;
}
.futtor-bottom-icon li{
	list-style: none;
	position: relative;
	padding: 0px 12px;
	float: left;
}
.futtor-bottom-icon li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	transition: .4s all ease-in-out
}
.futtor-bottom-icon li:hover a{
	color: #24CAE2;
}
.futtor-bottom-icon li:hover span a{
	color: red;
}


/*FOOTER SECTION CSS END HERE*/






